description: ${JOB_NAME}
target:
  service: sing
  name: msrresrchvc
  workspace_name: exvivo
environment:
  image: exvivo_harry/infercnv_azure_api:beta
  username: f3aabc9162314425972546881fd63c82
  registry: f3aabc9162314425972546881fd63c82.azurecr.io
storage:
  data:
    storage_account_name: exvivocoldeastus
    container_name: data
    mount_dir: /mnt/data
    # local_dir: ${HOME}
  output:
    storage_account_name: exvivocoldeastus
    container_name: projects
    mount_dir: /mnt/outputs
    # local_dir: ${HOME}
search:
  job_template:
    name: "{experiment_name:s}_{auto:3s}"
    # change here for when E64ads_v5 is busy
    # sku: 8C60
    sku: 8C15
    # sku: 10C3
    priority: high
    sla_tier: Premium
    command:
      - echo '[Azure] Container started successfully'
      - python3 -u /app/src/InfercnvAzureAPI/cli.py --data_folder /mnt/data/broad_infercnv_data/${JOB_NAME} --out_folder /mnt/outputs/Projects/broad_infercnv_out/${JOB_NAME} --n_parallel $N_PARALLEL --n_threads $N_THREADS --cell_type_col {CELL_TYPE_COL} --ref_group_names $REF_GROUP_NAMES --malig_name $MALIG_NAME
    submit_args:
      env:
        _AZUREML_SINGULARITY_JOB_UAI: /subscriptions/f997cb3f-f3db-4cfb-ab69-c013ff38b1fd/resourcegroups/ex-vivo-biomlinterns/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ex-vivo-biomlinterns-uai
    tags: [Project_Name:Biomedical_ML,ProjectID:PRJ-0045-A32,Experiment:Bio-0]
  type: grid
  max_trials: 1
  params:
    - name: CELL_TYPE_COL
      values: ["cell_type_infercnv"]




